extends base
block emailContent
 
        tr.heading
          td Item
          td Price
        each productInCart in cart.productInCarts 
          tr.item
            td  titulo: #{productInCart.product.title} 
            td  precio del producto: $#{productInCart.product.price}
            td  cantidad: #{productInCart.product.quantity}
           
        tr.total
          td
          td Total: $#{newOrder.totalPrice}
        